tensorflow==2.12.0 # Without the '-intel'
pandas 
gdown
dvc
mlflow==2.2.2
notebook
numpy==1.23.5
matplotlib
seaborn
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
types-PyYAML
scipy
Flask
Flask-Cors
-e .